.tab-content {
    height: 400px;
}

.select-list {
    max-height: 340px;
    padding: 16px;
    overflow: auto;
}

.langItem {
    margin-left: 8px;
}

.check-select {
    margin-top: 16px;
    margin-left: 24px;
}