<div class="header">
    <mat-icon style="scale: 2; margin-left: 16px;">settings</mat-icon>
    <h1 mat-dialog-title>
        {{'options.title'|translate}}
    </h1>
    <span class="spacer"></span>
    <mat-icon class="window-icon" (click)="cancel()">close</mat-icon>
</div>

<div mat-dialog-content style="width: 640px">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab [label]="'options.schemas.support'|translate">
            <div class="tab-content">
                <mat-checkbox class="check-select" (change)="changeSchemaList($event)" checked="true"
                    color="accent">
                    <span class="check-select-label" [title]="schemasSelectedList()">{{ schemasSelectedList() }}</span>
                </mat-checkbox>
                <mat-divider></mat-divider>
                <div class="select-list">
                    <mat-selection-list #schemaList [(ngModel)]="selectedShemas" color="primary" class="mat-elevation-z1">
                        <mat-list-option *ngFor="let schema of schemas" togglePosition="before" [value]="schema"
                            [disabled]="schema.countLocks > 0">
                            <span matListItemTitle>{{schema.username}}</span>
                            <span matListItemLine *ngIf="schema.countLocks > 0">{{schema.countLocks + ' ' +
                                ('locks'|translate)}}</span>
                        </mat-list-option>
                    </mat-selection-list>                    
                </div>
            </div>
            <mat-hint>{{'options.schemas'|translate}}</mat-hint>
        </mat-tab>
        <mat-tab [label]="'options.types.support'|translate">
            <div class="tab-content">
                <mat-checkbox class="check-select" (change)="changeTypesList($event)" checked="true"
                    color="accent">
                    <span class="check-select-label" [title]="typesSelectedList()">{{ typesSelectedList() }}</span>
                </mat-checkbox>
                <mat-divider></mat-divider>
                <div class="select-list">
                    <mat-selection-list #typeList [(ngModel)]="selectedTypes" color="primary">
                        <mat-list-option *ngFor="let type of types" [disabled]="type.countLocks > 0"
                            togglePosition="before" [value]="type">
                            <img matListItemAvatar [src]="'assets/object/'+type.icon" width="16px">
                            <span matListItemTitle>{{type.label|translatepluraldb}}</span>
                            <span matListItemLine *ngIf="type.countLocks > 0">{{type.countLocks + ' ' +
                                ('locks'|translate)}}</span>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
            <mat-hint>{{'options.types'|translate}}</mat-hint>
        </mat-tab>
        <mat-tab [label]="'options.default.lang'|translate">
            <div class="tab-content" style="padding: 16px;">
                <mat-selection-list #langList [multiple]="false" [(ngModel)]="selectedLang" class="select-list">
                    <mat-list-option [selected]="defaultLang == 'es'" togglePosition="before" value="es">
                        <img matListItemAvatar src="assets/flags/flag-es.png" alt="Flag Icon" />
                        <span matListItemTitle>{{'lang.es'|translate}}</span>
                    </mat-list-option>
                    <mat-list-option [selected]="defaultLang == 'va'" togglePosition="before" value="va">
                        <img matListItemAvatar src="assets/flags/flag-va.png" alt="Flag Icon" />
                        <span matListItemTitle>{{'lang.va'|translate}}</span>
                    </mat-list-option>
                    <mat-list-option [selected]="defaultLang == 'en'" togglePosition="before" value="en">
                        <img matListItemAvatar src="assets/flags/flag-en.png" alt="Flag Icon" />
                        <span matListItemTitle>{{'lang.en'|translate}}</span>
                    </mat-list-option>
                </mat-selection-list>
                <mat-hint>{{'options.lang'|translate}}</mat-hint>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button class="btn btn-primary btn-dialog" (click)="save()" color="primary"><mat-icon>save</mat-icon>{{'save'|translate}}</button>
    <button mat-raised-button class="btn btn-dialog" (click)="cancel()">{{'cancel'|translate}}</button>
</div>