table {
    font-size: 0.8rem;
}

.mat-column-op {
    width: 15%;
}

.mat-column-date {
    width: 15%;
    text-align: center;
}

.mat-column-username {
    width: 20%;
}

.mat-column-ref_its {
    width: 10%;
}

.mat-column-comment {
    width: 40%;    
}

.table-container {
    height: calc(100vh - 480px); 
    overflow: auto; 
 }

 .table-container-max {
    height: calc(100vh - 225px); 
    overflow: auto; 
 }

 tr.mat-mdc-row:hover {
    cursor: unset;
}