<div class="header">
  <img src="assets/64x64/history64.png" id="icon" alt="Log Icon" class="header-icon" />
  <h1 mat-dialog-title>
    {{'historical'|translate}}
    {{(data.label|translatedb) + ' ' + data.owner + '.' + data.name}}
  </h1>
  <span class="spacer"></span>
  <mat-icon class="window-icon" (click)="resize()">{{ maximized ? 'fullscreen_exit' : 'crop_square'}}</mat-icon>
  <mat-icon class="window-icon" (click)="close()">close</mat-icon>
</div>
<div mat-dialog-content [style]="maximized ? 'max-height: unset' : ''">
  <div class="mat-elevation-z8" [class]="maximized ? 'table-container-max': 'table-container'">
    <table id="tableLog" mat-table matSort [dataSource]="dataSource" (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="op">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{'op'|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.opLabel|translatedb}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{'date'|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.date | dateSpanish:currentUser.data.lang}}
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{'user'|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{ element.username ? element.username : element.user }} </td>
      </ng-container>

      <ng-container matColumnDef="ref_its">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> {{'ref'|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{ element.ref }} </td>
      </ng-container>      

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> {{'comment'|translate}} </th>
        <td mat-cell *matCellDef="let element"> {{ element.comment }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <div class="d-flex flex-column flex-md-row mat-elevation-z8">
    <div class="white" *ngIf="dataSource.data.length > 0">
      <mat-icon class="btnExcel" (click)="excel()" [title]="'export.xls'|translate">save_alt</mat-icon>
    </div>
    <span class="spacer white"></span>    
    <mat-paginator #paginator="matPaginator" [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="10" showFirstLastButtons>
    </mat-paginator>
  </div>

</div>

<div mat-dialog-actions align="end">
  <button class="btn btn-primary btn-dialog" (click)="close()" color="primary">{{'close'|translate}}</button>
</div>