<div class="header">
  <img src="assets/64x64/history64.png" id="icon" alt="Log Icon" class="header-icon" />
  <h1 mat-dialog-title>
    {{'historical'|translate}}
    {{(data.objectLog.label|translatedb) + ' ' + data.objectLog.owner + '.' + data.objectLog.name}}
  </h1>
  <span class="spacer"></span>
  <mat-icon class="window-icon" (click)="close()">close</mat-icon>
</div>
<div mat-dialog-content>
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>{{data.objectLog.opLabel|translatedb}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p style="margin-top: 16px;">{{('user'|translate) + ': ' + (data.objectLog.username ? data.objectLog.username : data.objectLog.user) }}</p>
      <p>{{('date'|translate) + ': ' + (data.objectLog.date | dateSpanish:currentUser.data.lang)}}</p>
      <p *ngIf="data.objectLog.ref">{{('ref'|translate) + ': ' + data.objectLog.ref }}</p>
      <p>{{data.objectLog.comment}}</p>
    </mat-card-content>
  </mat-card>
</div>

<div mat-dialog-actions align="end">
  <button class="btn btn-primary btn-dialog" (click)="close()" color="primary">{{'close'|translate}}</button>
</div>